* {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  
  background-image: 
    url('../img/Group1.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease, color 0.5s ease;
}
html.dark body {
  background-image: url('../img/Group1.png'), linear-gradient(167.96deg, #2A2A2A 0%, #0A0A0A 100%);
  color: white;
}
html.light body {
  background-image: url('../img/Group1.png'), linear-gradient(167.96deg, #FFFFFF 0%, #FFFFFF 30%, #77DF9F 100%);
  color: black;
}

.container1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}
.backbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
}
.goback {
    margin-right: 4px;
    width: 13px;
}
html.dark .backbutton {
  background-color: #77DF9F;
}
/* Цвет для светлой темы */
html.light .backbutton {
  background-color: #2F2F2F;
}
.title {
  display: inline-block;
  width: 100vw;
}

#cards {
  position: relative; /* контейнер для позиционирования */
  width: 250px;
  height: 400px;
  min-width: 250px;
  max-width: 250px;
  min-height: 400px;
  max-height: 400px;
}
.player-line {
  display: flex;
  justify-content: space-between; /* лево и право */
  align-items: center;
  
}
.cards-container {
  margin-top: 20px;
}
.card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2F2F2F;
  border-radius: 15px;
  width: 250px;
  height: 400px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.player-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-content p {
  margin: 0;
  margin-top: 20px;
}

.cover {
  position: absolute;
  inset: 0;
  background: url('../img/card\ back.png') center/cover no-repeat;
  cursor: pointer;
  z-index: 10;
  -webkit-tap-highlight-color: transparent;
}

.cover.hidden {
  opacity: 0;
  pointer-events: none;
}

.chameleon-card {
  background: linear-gradient(#2F2F2F 0%, #2F2F2F 15%, #518364 50%, #2F2F2F 85%, #2F2F2F 100%);
  color: #fff;
}

.chameleon-label {
  color: #77DF9F;
  font-weight: bold;
  font-size: 30px;
}

.card.swipe-left {
  transform: translateX(-400px) rotate(-20deg);
  opacity: 0;
}

.card.swipe-right {
  transform: translateX(400px) rotate(20deg);
  opacity: 0;
}




.end-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.end-screen.hidden {
  display: none;
}

.end-screen button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2F2F2F;
  color: #fff;
  width: 250px;;
}

.end-screen button:hover {
  background: #444;
}

.card-content.hidden {
  display: none;
}


.word-label {
  font-size: 35px;
}

.gecko-label, .g-word-label {
  color: #ffb14b;
}
.g-word-label {
  font-size: 35px;
}
.gecko-label {
  font-size: 25px;
}

.gecko-card {
  background: linear-gradient(#2F2F2F 0%, #2F2F2F 15%, #9a7335 50%, #2F2F2F 85%, #2F2F2F 100%);
  color: #fff;
}