* {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  
  background-image: 
    url('../img/Group1.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease, color 0.5s ease;
}
html.dark body {
  background-image: url('../img/Group1.png'), linear-gradient(167.96deg, #2A2A2A 0%, #0A0A0A 100%);
  color: white;
}
html.light body {
  background-image: url('../img/Group1.png'), linear-gradient(167.96deg, #FFFFFF 0%, #FFFFFF 30%, #77DF9F 100%);
  color: black;
}

body.dark .background-layer {
  background-image: linear-gradient(167.96deg, #2A2A2A 0%, #0A0A0A 100%),
                    url('../img/Group1.png');
  background-blend-mode: overlay;
}

body.light .background-layer {
  background-image: linear-gradient(167.96deg, #FFFFFF 0%, #FFFFFF 30%, #77DF9F 100%),
                    url('../img/Group1.png');
  background-blend-mode: overlay;
}



.container1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}
.backbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
}
.goback {
    margin-right: 4px;
    width: 13px;
}
html.dark .backbutton {
  background-color: #77DF9F;
}
/* Цвет для светлой темы */
html.light .backbutton {
  background-color: #2F2F2F;
}
.title {
  display: inline-block;
  width: 100vw;
}

.container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textontitle {
  position: absolute;
  font-size: 25px;
  color: white;
}
.title2 {
  display: inline-block;
  width: 100vw;
}

.container3 {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.game {
  border: none;
  background-color: rgb(221, 221, 221);
  height: 35px;
  width: 90px;
  border-radius: 50px;
}
.chams {
  border: none;
  background-color: #77DF9F;
  height: 35px;
  width: 90px;
  border-radius: 50px;
}
.gecks {
  border: none;
  background-color: #ffb14b;
  height: 35px;
  width: 90px;
  border-radius: 50px;
}
.game :active, 
.chams :active, 
.gecks :active {
  filter: brightness(70%);
}

.tab-content {
  display: block;
}

.tab-content.hidden {
  display: none;
}

.container4 {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.tab-btn.active {
  background: #333;
  color: #fff;
}
.t1 {
  text-align: center;
}
.t2 {
  text-align: center;
}
.t3 {
  text-align: center;
}

.txt {
  line-height: 30px;
  color: white;
}
.txt2 {
  line-height: 30px;
  color: #77DF9F;
}
.txt3 {
  line-height: 30px;
  color: #ffb14b;
}

.cont {
  background-color: #2F2F2F;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  border: none;
  border-radius: 20px;
  height: 390px;
  width: auto;
  overflow-y: auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}